<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/jobcard</property>
		<property name="connection.username">root</property>
		<property name="connection.password">invest</property>
		<property name="connection.pool_size">1</property>

		<property name="hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>
		<property name="formate_sql">true</property>

		<!-- 
		<property name="cache.use_second_level_cache">true</property>
		<property name="cache.use_query_cache">true</property>
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property> 
		-->

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- <mapping class="com.hibernate.dto.UserDto"/> -->
		<!-- <mapping class="com.hibernate.vehicle.Vehicle"/> -->
		<!-- <mapping class="com.hibernate.vehicle.TwoWheeler"/> -->
		<!-- <mapping class="com.hibernate.vehicle.FourWheeler"/> -->

	</session-factory>

</hibernate-configuration>